<div class="toolbar" role="banner">
  <img width="200" alt="Splendex Logo" src="assets/images/splendex-logo.svg" />

  <div role="controls">
    <label for="sizeSelector">Deck Size</label>
    <select id="sizeSelector" [(ngModel)]="boardSize">
      <option [value]="value" *ngFor="let value of boardOptions">
        {{ value }}
      </option>
    </select>

    <button (click)="generateBoard(true)">Start new game</button>
  </div>
</div>

<div id="stats">
  <div id="currentTries">
    Current tries: <span>{{ currentTries }}</span>
  </div>

  <div id="best" *ngIf="bestScore">
    Best:
    <div>{{ bestScore }}</div>
  </div>

  <button id="restart" (click)="generateBoard(true)">Restart</button>
</div>

<div id="board">
  <div
    class="card"
    (click)="flip(i)"
    [ngClass]="{ flipped: card.isFlipped, matched: card.isMatched }"
    *ngFor="let card of board; let i = index"
  >
    <div class="front"></div>
    <div class="back">
      <img [src]="'assets/images/cards/' + card.image + '.png'" alt="" />
    </div>
  </div>
</div>
